html {
  font-size: 1rem;
  height: 100%;
  font-family: "National", Helvetica, arial, sans-serif;
}
@media only screen and (min-width : 0px) {
  html {
    font-size: 1rem;
  }
  .heading-title{
    min-height: 40vh;
  }
  .heading-title p{
    font-size: small;
  }
}
@media only screen and (min-width : 768px) {
  html {
    font-size: 1.2rem;
  }
  .heading-title{
    min-height: 60vh;
  }
  .heading-title p{
    font-size: medium;
  }
}
@media only screen and (min-width : 992px) {
  html {
    font-size: 1.2rem;
  }
  .heading-title{
    min-height: 60vh;
  }
  .heading-title p{
    font-size: large;
  }
}
.App-header{
  position: relative;
  margin: -1rem -50vw;
  background: #900;
  width: 100vw;
  height: 75px;
}
.logo {
  position: absolute;
  float: right;
  top: 25px;
  right: 2%;
  height: 40px;
  width: auto;
}
.logo-mobile {
  position: absolute;
  float: right;
  top: 25px;
  right: 2%;
  height: 40px;
  width: auto;
}
h1{
  font-size: 40%;
  line-height: 1.3em;
  letter-spacing: 0.2m;
  text-align: center;
}
h3{
  line-height: 1.3em;
  letter-spacing: 0.2m;
  text-align: center;
}
.heading-title{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('background-usc.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFCC00;
}
.heading-title p{
  color: #FFCC00;
  text-align: center;
}

.table-program-pic {
  width: 85px;
  height: auto;
  vertical-align: top;
}

.table-program-text {
  vertical-align: middle;
  margin-left: 10px;
}

.form-header {
  margin-top: 15px;
  margin-bottom: -10px;
}

/* .openings-row {
  display: inline;
}

.opening2 {
  float: right;
} */

footer {
  position: relative;
  margin: -1rem -50vw;
  width: 100vw;
  height: 75px;
}

.content h4{
  font-weight: bolder;
}
.content p{
  text-align: justify;
}