.form-container {
    width: 80vw;
    margin-top: 20px;
    padding: 5px 0px 15px 0px;
    background-color: white;
}

.interest-form {
    width: 100%;
    border: 5px solid #F7F6F1;
    padding: 10px;
}

.form-field {
    padding: 3px;
}

.form-field label{
    padding-right: 10px;

}

.form-field input {
    background-color: #EEEBDE;
    padding: 3px;
    border: none;
    color: black;
}
.form-field input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 0.7em;
}

.form-field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 0.7em;
}

.form-field input::-moz-placeholder { /* Mozilla Firefox 19+ */
     font-size: 0.7em;
}

.form-field input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 0.7em;
}
.form-field textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 0.7em;
  
}

.form-field input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 0.7em;
}

.form-field input::-moz-placeholder { /* Mozilla Firefox 19+ */
     font-size: 0.7em;
}

.form-field input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 0.7em;
}
select {
    background-color: #EEEBDE;
    border: none;
    padding: 3px;
    color: black;
}
textarea {
    background-color: #EEEBDE;
    border: none;
    padding: 3px;
    color: black;
}

.message-field {
    width: 100%;
}
.position{
    font-size: 0.7em;
    color: gray;
}
.submit-button {
    background-color: #900;
    color: white;
    border: none;
}